html {
    scroll-behavior: smooth;
}
body {
    background: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
header.navBar {
    background-color: black;
    background-image: url(https://image.shutterstock.com/image-vector/starry-night-particles-dust-sky-260nw-564870487.jpg);
    background-position-y: 71%;
    position: relative;
    top: 0;
    height: 45px;
    margin: 0;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
}
.logo {
    position: absolute;
    padding: 3px;
    float: left;
    font-weight: bolder;
    font-size: 32pt;
}

.links {
    padding: 3px;
    text-align: center;
    /* margin-top: 0px; */
    display: flex;
    justify-content: space-evenly;
}
header{
    display: flex;
    width: 100%;
    height: 70px;
    margin: 0;
    padding: 5px;
    border-bottom: 1px solid white;
    padding: 10px 10px 25px 10px;
}
span {
    color:rgb(64, 190, 239);
}
ul{
    width: auto;
    margin-top: 8px;
    padding: 3px;
    color: white;
}
li {
    align-content: center;
    display: inline;
    padding: 15px 30px;
}
.landing-section1,
.landing-section2,
.landing-section3,
.landing-section4 {
    width: 100%;
    height: 250px;
    background-image: url(https://image.shutterstock.com/image-vector/starry-night-particles-dust-sky-260nw-564870487.jpg);
}
.landing-section1 {
    position: relative;
    display: flex;
    justify-content: center;
}
.landing-section5 {
    width: 100%;
    height: 200px;
    background-image: url(https://image.shutterstock.com/image-vector/starry-night-particles-dust-sky-260nw-564870487.jpg);
}
.headshot {
    width: 100%;
    display: flex;
    justify-content: center;
    place-items: center;
    flex-direction: column;
}
.headshot-img {
    max-width: 200px;
    height: auto;
    border: 3px solid rgb(64, 190, 239);
}
#button {
    border: 3px solid rgb(64, 190, 239);
    color: black;
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
#button:hover {
    border: 3px solid rgb(251, 230, 137);
    transition: 0.5s;
}
.flexbox-container {
    position: relative;
    height: 90%;
    margin: 30px;
    display: flex;
    background-color: cornflowerblue;
}
.flexbox-item {
    background-color: white;
    border: 2px solid black;
    min-height: fit-content;
}
a {
    text-align: center;
    text-decoration: none;
    font-size: 1.2vw;
    color:rgb(64, 190, 239);

}
a:hover {
    color: rgb(251, 230, 137);
    transition: 0.5s;
}
h1:hover {
    color: rgb(251, 230, 137);
    transition: 0.5s;
}
.aboutme {
    max-width: 100%;
    height: auto;
    border: 1px solid white;  
    text-align: center;
    padding: 26px;
}

.aboutme-header {
    width: 100%;
    text-align: center;
    font-weight: 900;
}
.apps {
    max-width: 100%;
    height: 535px;
    border: 1px solid white;
    text-align: center;  
    padding: 26px;
}
.apps-header {
    width: 100%;
    text-align: center;
    font-weight: 900;
}
.apps-content {
    padding-top: 20px;
}
.contact {
    max-width: 100%;
    height: 281px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 26px;
}
#box-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}
.flexbox {
    border: 3px solid black;
    background-color: white;
    min-height: 224px;
    width: 144px;
}
.flexbox-item-1:hover {
    border: 3px solid rgb(129, 212, 244);
    transition: 00.5s;
}
.flexbox-item-1 {
    background-color: rgb(64, 190, 239);
    background-image: url(https://i.ytimg.com/an/bdLxM_5_bXo/17139450428754055509_mq.jpg?v=5f7cb192);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.flexbox-item-2:hover {
    border: 3px solid rgb(251, 230, 137);
    transition: 00.5s;
}
.flexbox-item-2 {
    background-color: white;
    background-image: url(https://coursera-university-assets.s3.amazonaws.com/a5/b9f3b0ed1911e4b974a91400b6b11f/Yellow-GT-logo-360x360.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.flexbox-item-3:hover {
    border: 3px solid rgb(129, 212, 244);
    transition: 00.5s;
}
.flexbox-item-3 {
    background-color: rgb(64, 190, 239);
    background-image: url(https://www.freepnglogos.com/uploads/logo-website-png/logo-website-cropped-website-logo-header-vreference-29.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    position: relative;
}
.contact-header {
    width: 100%;
    text-align: center;
    font-weight: 900;
}
.form-container {
    place-items: center;
    height: 100%;
    position: relative;
}
form.contact-form {
    display: table;
    margin: 20px auto;
}
.contact-form {
    display: table-row;
    position: relative;
}
label, input[type=text] {
    display: table-cell;
    padding: 10px;
    margin-bottom: 0px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}
label, input[type=tel] {
    display: table-cell;
    padding: 10px;
    margin-bottom: 10px 0;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}
label {
    padding-right: 10px;
}
.border-removed-input {
    border: 0;
}
input {
    font-family:inherit;
    font-size: inherit;
    width: 1;
}

input[type=submit] {
    margin: 20px auto;
    position: absolute;
    right: 100px;
}

footer {
    position: relative;
    width: 100%;
    height: 70px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 675px) {
    h1 {
        display: inline-block;
    }
}